In [ ]:
#Calculator Function Examples
def calc(a,b,op):
  if op=='+':
     print('a+b =',a,'+',b,'=',a+b)
  elif op=='-':
     print('a-b =',a-b)
  elif op=='*':
     print('a*b =',a*b)
  elif op=='/':
     print('a/b =',a/b)
  elif op=='//':
     print('a//b =',a//b)
  elif op=='%':
     print('a mod b =',a%b)
  else :
     pass
calc(2,5,'+')
calc(5,3,'/')
calc(6,4,'%')
calc(2,3,'//')
calc(5,4,'*')
calc(1,7,'-')
calc(1,4,'=')

a+b = 2 + 5 = 7
a/b = 1.6666666666666667
a mod b = 2
a//b = 0
a*b = 20
a-b = -6
The operation is not exist

In [ ]:
def calc1(num1,num2):
  sum=num1+num2
  sub=num1-num2
  mul=num1*num2
  div=num1/num2
  return sum,sub,mul,div #Return multiple values
sum,sub,mul,div=calc1(5,3)
print(sum)
print(sub)
print(mul)
print(div)
num1=int(input('ENTER N1 '))
num2=int(input('ENTER N2 '))
sum,sub,mul,div=calc1(num1,num2)

print(sum)
print(sub)
print(mul)
print(div)

8
2
15
1.6666666666666667
ENTER N1 9
ENTER N2 7
16
2
63
1.2857142857142858

In [ ]:
#Calculate The Age of Person
birth_date = datetime.date(1998, 4, 25)
now=date.today()
print(now.year)
now_date = datetime.date(now.year,now.month,now.day)

timeage = now_date - birth_date
age = timeage.days
print(age/365)

2021
23.517808219178082

Multiple Python Excercises

In [ ]:
s=0
for i in range(0,10):
  s=s+i
  print('Current Number is {}'.format(i),' Previous Number is {}'.format(s-i),'Sum :', s)
  s=i

Current Number is 0  Previous Number is 0 Sum: 0
Current Number is 1  Previous Number is 0 Sum: 1
Current Number is 2  Previous Number is 1 Sum: 3
Current Number is 3  Previous Number is 2 Sum: 5
Current Number is 4  Previous Number is 3 Sum: 7
Current Number is 5  Previous Number is 4 Sum: 9
Current Number is 6  Previous Number is 5 Sum: 11
Current Number is 7  Previous Number is 6 Sum: 13
Current Number is 8  Previous Number is 7 Sum: 15
Current Number is 9  Previous Number is 8 Sum: 17

In [ ]:
str1 = "PYNATIVE"
for i in range(len(str1)):
  if i%2==0:
    print(str1[i])

P
N
T
V

In [ ]:
str1 = "STUDENTS"
for i in range(len(str1)):
  if i%2==0:
    print(str1[i])

S
U
E
T

In [ ]:
def remove_char(str1,n):
   for i in range(n):
     str1=str1[n:]
    #  remove(str1,len(str1)-i)
     print(str1)
remove_char('sahar',1)

ahar

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
def check(str_list):
     if str_list[0]==str_list[len(str_list)-1]:
        return True
     else:
      return False
print(check(numbers_y))

False

In [ ]:
numbers_z = [7, 15, 35, 51, 31]
for i in range(len(numbers_z)):
  if numbers_z[i]%5==0:
    print(numbers_z[i],end=' ')

15 35

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
print(str_x.count('Emma'))

2

In [ ]:
for i in range(1,6):
  print('\n')
  for ii in range(1,6):
     print(i,end=' ')
     if i==ii:
       break

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
r=0
num=int(input('Orginal number '))
num1=num
while num != 0:
  d=num%10
  num=num//10
  r=r*10+d
if r==num1:
  print('yes')
else:
  print('no')

Orginal number 45
no

In [ ]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

list3=[]
for i in range(len(list1)):
  if list1[i]%2!=0:
    list3.append(list1[i])
for i in range(len(list2)):
  if list2[i]%2==0:
    list3.append(list2[i])
print(list3)

[25, 35, 40, 60, 90]

Object Orianted Programming in Python

In [ ]:
class shapes:
  name1='sahar'
  def __init__(self,name,color,area):
    self.name=name
    self.color=color
    self.area=area
  def data (self):
    print('The name is :',self.name,' The color of the shape is',self.color,end=' ')
  def update_color(self,color_new):
    self.color=color_new
  def calc_area_circle(self,r):
    self.area= 3.14*(r**2)
  def calc_area_rect(self,h,w):
    self.area= h*w
circle=shapes('Circle','Red',22.6)
triangle=shapes('Triangle','yellow',12.5)
rect=shapes('Rectangle','green',66)
print(circle.color)
print(triangle.data())
circle.update_color('Green')
print(circle.color)
circle.calc_area_circle(5)
print(circle.area)
rect.calc_area_rect(7,4)
print(rect.area)
shapes.name1='haneen'
print(shapes.name1)

Red
The name is : Triangle  The color of the shape is yellow None
Green
78.5
28
haneen